@import "fonts";

body {
  max-width: 3440px;
  min-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
  // width: 1366px;
  display:block;
  }
//   header {
//     position: absolute;
//   }
footer {
  margin-bottom: 0;
}
  
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
  padding: 0 15px;
}
.header {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
  
  .menu {
    display: flex;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: space-between;
    align-items: center;
    // padding: 24px 0;
    // z-index: 1;
    &__logo {
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
    }
    &__hamburger {
      display: block;
      right: 4px;
      width: 24px;
      height: 16px;
      &-btn {
        padding: 0;
        height: 100%;
        width: 100%;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.promo {
  position: relative;
  height: 598px;
  padding-top: 170px;
  &__bckg {
    background: linear-gradient(0deg, #98C3E8 7.34%, rgba(152, 195, 232, 0) 29.62%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    background-size: cover;
    top: 0;
    left: 0;
  }
  &__content {
    position: relative;
    width: 1366px;
    margin: 0 auto;

  }
  &__header {
    position: relative;
    z-index: 0;
    width: 510px;
    height: 148px;
    // font-family: 'Gilroy';
    font-weight: 700;
    font-size: 55px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
  }
  &__descr {
    position: relative;
    z-index: 0;
    margin-top: 32px;
    width: 425px;
    height: 82px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
  }
  &__btn {
    position: relative;
    z-index: 0;
    margin-top: 71px;
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
  }
  &__img {
    position: absolute;
    z-index: 0;
    top: -90px;
    right: 24px;
  }
}
 
.basic {
  display: flex; 
  flex-wrap: wrap;
  position: relative;
  
  height: 1150px;
  margin: 192px auto 0;
  justify-content: space-between;
  
  .wrapper {
    // flex-direction: column;
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
    }
    // display: flex;
    // justify-content: space-between;
  } 
    
  &__header {
    width: 358px;
    height: 138px;
    // margin-bottom: 158px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
  }
  .card1 {
    left: 80px;
    top: 308px;
    }
  
  .cards {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 525px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    .logo2 {
      margin: 0 auto;
      margin-top: -22px;;
    }
    &__logo {
      position: relative;
      margin: 48px 124px auto auto;
      &-img {
        position: relative;
        display: block;
      }
    }
    &__content {
      margin: auto 48px 48px;
      &-header {
        font-family: 'Gilroy';
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        font-weight: 600;
      }
      &-subheader {
        margin-top: 16px;
        font-family: 'Gilroy';
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
        font-weight: 400;
      }
      &-links {
        display: flex;
        justify-content: space-between;
        width: 127px;
        height: 30px;
        margin-top: 32px;
        font-family: 'Gilroy';
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #5A98D0;
        &:hover {
          font-size: 16px;
          transition: all 0.3s ease;
        }
        & a {
          color: #5A98D0;
          text-decoration: none;
        }
        & .vector {
          width: 16px;
          height: 16px;
          margin-top: 4px;
        }
      }
    }
    
  }
}

.our-client {
  margin-top: 212px;
  width: 100%;
  height: 1549px;
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
  &__wrapper{
    padding-top: 96px;
    display: flex;
    width: 91%;
    height: 97px;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__header {
    width: 223px;
    height: 92px;
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }
  &__descr {
    width: 540px;
    height: 80px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
  }
  .list-logo {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 111px;
    width: 100%;
    max-height: 256px;
    list-style: none;
    :nth-child(-n+4) {
      height: 127px;
      border-bottom: 1px solid #9cc1e3;
    }
    :nth-child(odd) {
      width: 233px;
      border-right: 1px solid #9cc1e3;
    }
    :nth-child(2) {
      width: 233px;
      border-right: 1px solid #9cc1e3;
    }
    :nth-child(6) {
      width: 233px;
      border-right: 1px solid #9cc1e3;
    }
  
    &__client {
      display: flex;
      width: 234px;
      height: 128px;
      align-items: center;
      justify-content: center;
      font-family: 'Gilroy';
      font-size: 20px;
      line-height: 46px;
      letter-spacing: 0.02em;
      color: #F2F2F2;  
      &:hover {
        cursor: pointer;
        background: #518bbd;
        transition: all 0.3s ease;
      }   
    }
  }
}